---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
export async function getStaticPaths() {
  const pages = await getCollection("classifieds");

  return pages.map((page) => ({
    params: { slug: page.slug },
    props: { page },
  }));
}
interface Props {
  page: CollectionEntry<"classifieds">;
}

const { page } = Astro.props;
const { Content } = await page.render();
---

<Layout title={page.data.title}>
  <div class="py-12 md:py-20 mx-4">
    <div class="mx-auto text-center max-w-screen-lg md:pb-16 pb-10">
      <h1
        class="font-bold font-heading mb-4 leading-tighter tracking-tighter dark:text-gray-200 md:text-6xl text-5xl"
      >
        {page.data.title}
      </h1>
      <div class="flex justify-center py-12">
        <Image
          src={page.data.Image}
          alt={"free image"}
          width={700}
          height={500}
          class="mx-auto bg-gray-500 rounded-lg shadow-lg"
        />
      </div>
      <div class="bg-red-200 text-justify">
        <Content />
      </div>
    </div>
  </div>
</Layout>
