---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 Page not found">
  <div
    class="lg:max-w-2xl max-w-xl mb-10 text-center md:mb-12 lg:pt-36 py-16 md:mx-auto md:text-center md:text-5xl font-bold font-heading"
  >
    <h1 class="mb-12">404</h1>
    <p>Page Not found</p>
  </div>
</Layout>
