---
import Layout from "../layouts/Layout.astro";
import { getEntryBySlug } from "astro:content";
const entry = await getEntryBySlug("gallery", "classified1");
const { Content, headings } = await entry.render();
---

<Layout title="Gallery">
  <div>
    <h1>Gallery</h1>
    <Content />
  </div>
</Layout>
